{% extends "../base/basic.html" %}
{% block title %}
Index Page
{% endblock %}

{% block body %}
<div class='container'>
<h1>Stock Tracker</h1>
<p>Select your stock</p>
<form action='/table.html'>
<label for='stockpicker:'>
<select class="form-select form-select-lg mb-3" multiple aria-label="Multiple select example" name='stock_picker'>
  {% for i in stock_picker %}
  <option value="{{i}}">{{i}}</option>
  
  {% endfor %}
</select>
<br>
<div class='d-grid gap-2'>
<input type="submit" class="btn btn-primary btn-lg">
</div>
</form>

{% endblock %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/css/basic.css' %}">

