{% extends "../base/basic.html" %}
{% block title %}
Index Page
{% endblock %}

{% block body %}
<div class='container'>
<h1>Stock Tracker</h1>
<p>Select your stock</p>
<form action=''>
<label for='stockpicker:'>
<select class="form-select form-select-lg mb-3" multiple aria-label="Multiple select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
</form>
</div>
{% endblock %}
{% comment %} {% block template %}
{% include "../base/navbar.html" %}
code here
{% endblock %} {% endcomment %}

{% comment %} {% load static %}
{% block meta %}
{% endblock %}


{% block css %}
<style>
</style>
{% endblock %}

{% block body %}

{% endblock %}

{% block js %}
<script>
</script>
{% endblock %} {% endcomment %}
